*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #000, #031d42, #000) ;
}
#display{
    width: 100vw;
    height: 5vh;
    color: #000;
    border: solid 1px #00f;
    border-radius: 7px;
    background-color: #fff;
    margin-right: 1rem;
    font-size: 1.3rem;
    text-align: right;
}
#select{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 44vw;
    
}
#titulo{
    padding: 1rem;
    color: #fff;
    text-shadow: #00f 2px 2px 3px;
    text-align: center;
}
#btn{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    
}
#btn #converter {
    font-size: 1.3rem;
    width: 40vw;
    border: solid 1px #fff ;
    background-color: #00f;
    color: #fff;
}
#escala{
    width: 7vw;
    color: #00f;
    font-size: larger;
    border-radius: 7px;
    border: solid 1px #00f;
}
#result{
    width: 40vw;
    height: 40vh;
}
#total1, #total2, #total3{
    width: 40vw;
    margin-bottom: 1rem ;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.4rem;
}
#total1{
    background-color:#32CD32 ;
}
#total2{
    background-color: #A52A2A;
}
#total3{
    background-color:#FF8C00;
}

